@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "@tailwindcss/typography"; // comentar para que se active

@theme {
  --color-primary: #168;
  --font-montserrat: "Montserrat", "sans-serif";
}

/* /* personaliza el contenedor */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  /* @variant sm {
    padding-inline: 2rem;
  } */
}

/* V4  clases personalizadas*/
.btn-paginated {
  @apply border border-slate-700 rounded-md font-semibold text-xs py-1 px-3 hover:bg-slate-700 hover:text-white
        transition-all disabled:opacity-50 disabled:cursor-not-allowed disabled:border-slate-800 
      disabled:text-slate-800 disabled:hover:bg-white disabled:hover:text-slate-700;
}
